{% extends 'tmcc/layout.html' %}
{% block title %}
My Order
{% endblock %}
{% block body %}
<h1 id="your-order">Your order</h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.item.all %}
      <tr>
        <th scope="row">{{item.title}}</th>
        <td><button class="btn btn-danger" data-item="{{item.id}}" onclick="remove_from_order(this);">Remove from order</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}