{% extends 'tmcc/layout.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <h1>Follow us on social media!</h1>
    </div>
    <div class="row">
        <p>We frequently update our followers with new updates, events, and additions to the menu</p>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="fb-page" data-href="https://www.facebook.com/Joeys-Pizzeria-106640991303989" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Joeys-Pizzeria-106640991303989" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Joeys-Pizzeria-106640991303989">Facebook</a></blockquote></div>
        </div>
        <div class="col-6">
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">eat at Joey&#39;s Pizzeria today! <a href="https://t.co/n6BUOZiHiL">pic.twitter.com/n6BUOZiHiL</a></p>&mdash; joeyspizzeria (@joeyspizzeria2) <a href="https://twitter.com/joeyspizzeria2/status/1334946991621619712?ref_src=twsrc%5Etfw">December 4, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <br>
    <div class="row" id="visit-us">
        <h1>You can visit us at the following locations:</h1>
    </div>
    <br>
    <br>
    <br>
    <ul id="locations">
        <!--
            links to general area of (fake) pizza locations
        -->
        <li>3350  Longview Avenue, <a href="https://www.google.com/maps/place/The+Bronx,+NY/@40.8517687,-73.9109745,12z/data=!3m1!4b1!4m5!3m4!1s0x89c28b553a697cb1:0x556e43a78ff15c77!8m2!3d40.8447819!4d-73.8648268">Bronx, New York 10459</a></li>
        <li>4009  Olen Thomas Drive, <a href="https://www.google.com/maps/@42.8607266,-72.6015391,13z">Brattleboro, Vermont 05301</a></li>
    </ul>
</div>
{% endblock %}

